.header {
    background-color: grey;
    height: 60px;
    display : flex;
    text-align: center;
}

.header-logo {
    background-color: yellow;
    display: flex;
    align-items: center;
}

.header-logo img {
    width : 50px;
    height: auto;
    background-color: blue;
}

.header-logo span {
    font-size: 24px;
    font-weight: bold;
    color: black;
    background-color: white;
}

.header-nav {
    background-color: blue;
    flex-grow : 1;
    justify-content: center;
    display: flex;
}

.nav-list {
    display: flex;
    justify-content: center;
    background-color: white;
    list-style: none;
}
.nav-item {
    background-color: yellow;
}

.nav-item a{
    background-color: black;
    justify-content: center;
    margin: 10px;
    text-decoration: none;
}

/* .link {
    text-decoration: none;
} */

.header-snslogo {
    background-color: yellow;
    display: flex;
    align-items: center;
}

.main {
    background-color: black;
    height : 400px;

}

.footer {
    background-color: grey;
    height : 100px;

}