* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header {
    background-color: grey;
    height: 10vh;
    width: 100%;
    display : flex;
    text-align: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.header-logo {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
}

.header-logo img {
    width : 50px;
    height: auto;
    background-color: blue;
    margin-left: 10px;
}

.header-logo span {
    font-size: 24px;
    font-weight: bold;
    color: black;
    background-color: white;
}

.header-nav {
    background-color: blue;
    justify-content: center;
    display: flex;
    flex-basis: 75%;
}

.nav-list {
    display: flex;
    justify-content: center;
    background-color: white;
    list-style: none;
    align-items: center;
}

.nav-item {
    background-color: yellow;
}

.nav-item a{
    background-color: black;
    justify-content: center;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.header-snslogo {
    background-color: yellow;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: center;
    flex-basis: 15%;
}

.header-snslogo img {
    width : 50px;
    height: auto;
    background-color: blue;
    margin: 10px;
}

.main {
    background-color: black;
}

.section01 {
    background-color: yellowgreen;
    height: 90vh;
}

.section02 {
    background-color: green;
    height: 100vh;
}

.section03 {
    background-color: white;
    height: 100vh;
}

.footer {
    background-color: grey;
    height : 100px;
}

